:root {
    --colorbackground: #FFFFFF;
    --colorbackgroundtwo: #F7F7F7;
    --colorbackgraundblack: #000000;
    --colortextmin: #303030;
    --colortextblackbackgr: #9DA4BD;
    --textcolorstand: #555555;
    --spessialtext: rgba(157, 164, 189, 0.6);
    --uniqbutton: #FF6C00;
    --backgroundcolorbatton: rgba(0, 0, 0, 0);
    --modal-form: #2E2F42;


    --textsize11: 11px;
    --textsize12: 12px;
    --textsize14: 14px;
    --textsize18: 18px;
    --textsize42: 42px;
    --textsize72: 72px;

    --gap-icon-10: 10px;
    --gapnav30: 30px;
    --margin20: 20px;
    --padding130: 130px;

    --z-index-modal: 100;
    --transition-hover: 500ms cubic-bezier(0.13, 0.72, 1, 1) 100ms;
}




h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0 auto;
    padding: 0;
}

img {
    display: block;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--textsize18);
    color: var(--textcolorstand);
    background-color: var(--colorbackground);
}

.conteiner {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.headcont {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;

}

.link {
    text-decoration: none;
}

/**
  |============================
  | Header
  |============================
*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 32px;
    z-index: 10;
    background-color: hsl(237deg 4.14% 4.39% / 37%);

}

.header-tel {
    font-size: var(--textsize12);
    letter-spacing: 0.09em;
    color: var(--colorbackground);

    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.13, 0.72, 1, 1);
    transition-delay: 100ms;
}

.header-tel:hover,
.header-tel:focus {
    color: var(--uniqbutton);
}

.logo {
    margin-right: 70px;
    margin-left: 55px;
}

.header-nav {
    font-size: var(--textsize12);
    letter-spacing: 0.1em;
    color: var(--colorbackground);
    margin-right: auto;
}

.header-ul {
    display: flex;
    align-items: center;
    gap: var(--gapnav30);
}

.headbutt {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-li {}

.header-a {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: var(--textsize12);
    line-height: 16px;
    letter-spacing: 0.1em;
    color: var(--colorbackground);

    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.13, 0.72, 1, 1);
    transition-delay: 100ms;
}

.header-a.current {
    color: var(--uniqbutton);
    transition: color 500ms cubic-bezier(0.13, 0.72, 1, 1) 100ms;
}

.header-a.current::after {
    display: block;
    position: absolute;
    bottom: -50%;
    left: 0;
    content: "";
    margin-top: 0;
    width: 100%;
    height: 4px;

    background-color: var(--uniqbutton);

}

.header-a:focus,
.header-a:hover {
    color: var(--uniqbutton);

}


.header-a:focus::after,
.header-a:hover::after {
    color: var(--uniqbutton);

    display: block;
    position: absolute;
    bottom: -50%;
    left: 0;
    content: "";
    margin-top: 0;
    width: 100%;
    height: 4px;
    background-color: var(--uniqbutton);
}

.head-batton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    min-height: 40px;
    cursor: pointer;

    font-size: var(--textsize12);
    letter-spacing: 0.09em;
    color: var(--colorbackground);
    border: 1px solid var(--uniqbutton);
    border-radius: 25px;
    background-color: var(--backgroundcolorbatton);

    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.13, 0.72, 1, 1);
    transition-delay: 100ms;
}

.batton-in-price {
    margin-left: auto;
    margin-right: auto;
}

.head-batton:hover,
.head-batton:focus {
    background-color: var(--uniqbutton);
    color: var(--colorbackgraundblack);
}

.head-batton.main {
    color: var(--colorbackgraundblack);

    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.13, 0.72, 1, 1);
    transition-delay: 100ms;
}

.head-batton.main:hover,
.head-batton.main:focus {
    background-color: var(--uniqbutton);
    color: var(--colorbackgroundtwo)
}

/**
  |============================
  | sec-heir-salon
  |============================
*/
.sec-heir-salon {
    margin-bottom: 130px;

}

.all-side {
    display: flex;
    position: relative;

}

.left-side {
    position: relative;

    display: flex;
    align-items: flex-end;
    width: 155px;
}

.right-side {
    flex-grow: 1;

    padding-top: 272px;
    padding-left: 100px;
    padding-bottom: 201px;

    background-color: var(--colorbackgraundblack);
    background: url(../background/Slider.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.ul-heir-salon {
    position: absolute;
    bottom: 160px;
    left: -35px;

    transform: rotate(270deg);
}

.li-heir-salon {
    font-size: var(--textsize11);
    letter-spacing: 0.2em;
    color: var(--colortextmin);
}

.heir-salon-a {
    color: var(--spessialtext);

    transition: color 500ms cubic-bezier(0.13, 0.72, 1, 1) 100ms;
}

.heir-salon-a:hover,
.heir-salon-a:focus {
    color: var(--uniqbutton);
}

.heir-pargraph {

    margin-bottom: var(--margin20);

    font-size: var(--textsize11);
    text-transform: uppercase;
    color: var(--spessialtext);
}

.parag-befor-black {
    display: flex;
    align-items: center;
    gap: 20px;
}

.parag-befor {
    display: flex;
    align-items: center;
    gap: 20px;
}

.parag-befor::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--textcolorstand);
}

.parag-befor-black::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--spessialtext);
}


.cont-marg {
    margin: 0;
}

.heir-title {
    margin-bottom: var(--margin20);

    font-family: 'Raleway';
    font-size: var(--textsize72);
    letter-spacing: 0.05em;
    color: var(--colorbackground);

    transform: translate(10%, 10%);
    transition: transform 400ms;
}

.heir-pargraph-fust {
    max-width: 450px;

    font-size: var(--textsize18);
    letter-spacing: 0.02em;
    color: var(--colortextblackbackgr);
}

.batton-ul {
    position: absolute;
    bottom: 40px;
    right: 35px;

    display: flex;
    align-items: center;
    gap: 24px;
}

.heir-batton {
    cursor: pointer;
}

/**
  |============================
  | about
  |============================
*/
.about {}

.about-cont {
    display: flex;
    gap: var(--gapnav30);
    padding-bottom: 130px;
}

.ul-about {
    overflow: hidden;
    display: flex;
    gap: var(--gapnav30);
}

.li-about {
    overflow: hidden;
    transform: scale(1);
    transition: transform 1900ms;
}

.li-about:hover {
    transform: scale(1.2);

}

.about-paragraph {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--colortextmin);
}

.about-title {
    margin-bottom: var(--margin20);
    max-width: 800px;


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.05em;
    font-size: var(--textsize42);
    color: var(--colortextmin);
}

.about-paragraphbig {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    font-size: var(--textsize18);
    letter-spacing: 0.02em;
}

.about-paragra {
    margin-bottom: 42px;
    max-width: 500px;
    margin-left: 0;

    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.02em;
    font-size: var(--textsize14);

}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    min-height: 40px;
    cursor: pointer;

    font-size: var(--textsize12);
    letter-spacing: 0.09em;
    color: var(--colorbackground);
    border: 1px solid var(--uniqbutton);
    border-radius: 25px;
    background-color: var(--backgroundcolorbatton);
}

/**
  |============================
  | price
  |============================
*/
.price {
    padding-top: var(--padding130);
    padding-bottom: var(--padding130);

    max-width: 1280px;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../background/img\ \(1\).jpg), var(--colorbackgraundblack);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.price-cont {}


.price-paragraph {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--spessialtext);
}

.price-title {
    margin-bottom: 42px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.05em;
    font-size: var(--textsize42);
    letter-spacing: 0.05em;
    color: var(--colorbackground);
}

.price-ul {
    margin-bottom: 50px;


    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    font-size: var(--textsize18);
    letter-spacing: 0.02em;
    color: var(--colortextblackbackgr);
}

.price-contein-peis {
    display: flex;
}

.price-for-category-ul {
    width: 580px;
    padding: 40px 30px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}

.price-list:last-child {
    margin-bottom: 0;
}

.price-list::before {
    content: '';
    flex-grow: 1;

    height: 1px;
    background: rgba(157, 164, 189, 0.12);
}

.price-before {
    order: -2;
}

/**
  |============================
  | advantages conteiner
  |============================
*/
.advantages {
    padding-top: 130px;
    padding-bottom: 130px;
}

.advantages-all-block {
    display: flex;
}

.advantages-ul {
    max-width: 370px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.advantages-ul-li {
    width: 170px;
    background-color: var(--colorbackgroundtwo);
    padding: 24px 20px;
    box-shadow: 4px 5px var(--uniqbutton)
}

.advantages-ul-li:nth-child(2n) {
    margin-top: 30px;
    margin-left: 30px;
}


.advantages-paragraph-cl {

    font-weight: 700;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: var(--textsize42);
    color: var(--colortextmin);
}

sup {
    color: var(--uniqbutton);
}

.advantages-paragraph-prem {

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    font-size: var(--textsize11);
    color: var(--colortextmin);
}



.advantages-paragraph {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--colortextmin);
}

.advantages-title {
    max-width: 420px;
    margin-left: 0;
    margin-bottom: var(--margin20);

    font-family: 'Raleway';
    font-weight: 700;
    line-height: 49px;
    font-size: var(--textsize42);
    letter-spacing: 0.05em;
    color: var(--colortextmin);
}

.advantages-paragraph-text {
    max-width: 500px;

    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
}

/**
  |============================
  | personnel
  |============================
*/
.personnel {
    background-color: var(--colorbackgroundtwo);
}

.personnel-cont {
    padding-top: var(--padding130);
    padding-bottom: var(--padding130);
}

.personnel-paragraph {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--colortextmin);
}

.personnel-title {
    margin-bottom: var(--margin20);

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    font-size: var(--textsize42);
    letter-spacing: 0.05em;
    color: var(--colortextmin);
}

.personnel-name {
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform var(--transition-hover);

    background-color: hsla(238, 17%, 28%, 0.46);
    backdrop-filter: blur(3px);
    /* border-radius: 10px; */
}

.text-photo {
    text-align: center;
    padding-top: 30%;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--colorbackgroundtwo);


}

.personnel-profession {
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    font-size: var(--textsize14);
    letter-spacing: 0.02em;
    color: var(--uniqbutton);
}


.personnel-ul {
    display: flex;
    gap: var(--gapnav30);

}

.img-anim-sec {
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.personnel-ul-li {
    width: calc((100% - ((var(--gapnav30))*2)) / 3);
}

.personnel-ul-li:hover .overlay {
    transform: translate(0);
}

.personnel-ul-li>img {
    margin-bottom: var(--gapnav30);
}

.personel-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-icon-10);

}

.personel-social-list {}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background-color: var(--colorbackground);
    border-radius: 50%;

    transition: color var(--transition-hover), background-color var(--transition-hover);
}

.social-list:hover,
.social-list:focus {
    fill: var(--uniqbutton);
    background-color: var(--colorbackgraundblack);
}

.personel-icon {}

/**
  |============================
  | galery
  |============================
*/

.galery {
    padding-top: var(--padding130);
    padding-bottom: var(--padding130);
}

.galery-cont {}

.galery-paragraph {
    margin-bottom: 44px;

    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--colortextmin);
}

.galery-title {}

.galery-ul {
    display: flex;
    gap: var(--gapnav30);
}

.galery-li {
    width: calc((100% - ((var(--gapnav30))*3)) / 4);
}

/**
  |============================
  | contact
  |============================
*/
.contact {}

.contact-all {
    display: flex;
    background-color: var(--colorbackgraundblack);
}

.contacts-registr {
    width: 625px;
    padding-top: 130px;
    padding-left: 55px;
    padding-right: 40px;

}

.contact-title {}

.footer-form {
    margin-bottom: 44px;
}

.registr-form-section {
    display: flex;
    gap: 30px;

    margin-bottom: 44px;
}


.coment-input {
    width: 100%;
    height: 24px;

    color: #ffffff;

    background-color: transparent;
    outline: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);

    transition: 300ms;
}

.coment-input:hover,
.coment-input:focus {
    border-bottom-color: var(--colorbackground);
}

.registr-inf {
    position: relative;
    width: 100%;
}

.coment-input:focus+.name-anim,
.coment-input:not(:placeholder-shown)+.name-anim {
    transform: translateY(-100%) scale(0.8);
    color: #fff;
}

.name-anim {
    position: absolute;
    left: 0;

    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);

    transform-origin: center left;
    transition: 300ms;
}

.registr-inf-comment {}

.coment-input-mess {
    position: relative;
    width: 100%;
    height: 60px;

    color: #ffffff;

    background-color: transparent;
    outline: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);

    transition: 300ms;
}

.coment-input-mess:hover,
.coment-input-mess:focus {
    border-color: var(--colorbackground);
}

.coment-input-mess:focus+.name-anim,
.coment-input-mess:not(:placeholder-shown)+.name-anim {
    transform: translateY(-100%) scale(0.8);
    color: #fff;
}


.footer-form-button {}

.contact-conteiner {
    width: 500px;
    padding-left: 100px;
    padding-top: var(--padding130);
    padding-bottom: var(--padding130);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../background/Bg.jpg);
    background-size: cover;
}

.contact-title {
    margin-bottom: 42px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.05em;
    font-size: var(--textsize42);
    color: var(--colorbackground);
}

.contact-adress {}

.contact-ul {
    margin-bottom: 66px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.contact-li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
}

.contact-a {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: var(--colortextblackbackgr);

}

.contact-paragraph {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
}

.contact-paragraph-working {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--spessialtext);
}

/**
  |============================
  | footer
  |============================
*/
.footer-cont {
    display: flex;
    margin-right: auto;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 55px;
}

.footer-copir {
    margin: 0;

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    font-size: var(--textsize11);
    letter-spacing: 0.2em;
    color: var(--colortextblackbackgr);
}

.footer-ul {
    display: flex;
    gap: 40px;
    margin-right: 50px;
    margin-left: auto;

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    font-size: var(--textsize11);
    letter-spacing: 0.2em;
    color: var(--colortextmin);
}

.footer-a {
    color: var(--colortextmin);
    transition: color var(--transition-hover);
}

.footer-a:focus,
.footer-a:hover {
    color: var(--uniqbutton)
}

/**
  |============================
  | modal window
  |============================
*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-modal);

    width: 100%;
    height: 100%;

    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(46, 47, 66, 0.4);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;


    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 408px;
    background: var(--colorbackgroundtwo);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}


.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: scale(0);
}

.modal-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;

    translate: 50% -50%;

    border-radius: 50%;
    border-color: var(--uniqbutton);
    background-color: var(--colortextblackbackgr);

    transition: 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-close-button:focus,
.modal-close-button:hover {
    background-color: var(--uniqbutton);
    fill: var(--colorbackground);
}

.close {}

.modal-title {
    margin-left: auto;
    margin-bottom: 16px;

    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--modal-form);
}

.modal-form {}

.user-date-title {
    display: block;
    margin-bottom: 4px;
}

.text-in-label {
    display: block;
    margin-bottom: 8px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;

    letter-spacing: 0.04em;
    color: #8E8F99;
}


.Name-inf {
    position: relative;
}

.name-icon {
    position: absolute;
    top: 0;
    left: 19px;
    translate: 0 30%;
}

.input-text {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 38px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    outline-color: var(--uniqbutton);
}

.input-text:focus,
.input-text:hover {
    border-color: var(--uniqbutton);
}

.input-text:focus+.name-icon,
.input-text:hover+.name-icon {
    fill: var(--uniqbutton);
}

.comment {
    margin-bottom: 16px;
}

.comment-input {
    display: block;
    width: 100%;
    resize: none;
    height: 120px;

    padding: 8px 16px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    outline-color: var(--uniqbutton);
}

.comment-input:hover,
.comment-input:focus {
    border-color: var(--uniqbutton);
}

.checkbox-section {
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
}

.checkbox-accept {
    appearance: none;

    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;

    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.checkbox-accept:checked {
    background-color: var(--uniqbutton);
    border-color: var(--uniqbutton);
    background-size: 10px;
}

.checkbox-accept:hover,
.checkbox-accept:focus {
    border-color: var(--uniqbutton);
}

.checkbox-le {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;

    letter-spacing: 0.04em;
    color: #8E8F99;
}


.text-diz {}

.link-politica {
    color: var(--uniqbutton);
}

.modal-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    width: 169px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.09em;

    color: #8E8F99;
    border: 1px solid #FF6C00;
    border-radius: 4px;
    cursor: pointer;

    transition: 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-button:focus,
.modal-button:hover {
    background-color: var(--uniqbutton);
    color: var(--colorbackground);
}