:root {
    --colorbackground: #FFFFFF;
    --colorbackgroundtwo: #F7F7F7;
    --colorbackgraundblack: #000000;
    --colortextmin: #303030;
    --colortextblackbackgr: #9DA4BD;
    --textcolorstand: #555555;
    --spessialtext: rgba(157, 164, 189, 0.6);
    --uniqbutton: #FF6C00;
    --backgroundcolorbatton: rgba(0, 0, 0, 0);


    --textsize11: 11px;
    --textsize12: 12px;
    --textsize14: 14px;
    --textsize18: 18px;
    --textsize42: 42px;
    --textsize72: 72px;

    --gap-icon-10: 10px;
    --gapnav30: 30px;
    --margin20: 20px;
    --padding130: 130px;

}




h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0 auto;
    padding: 0;
}

img {
    display: block;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--textsize18);
    color: var(--textcolorstand);
    background-color: var(--colorbackground);
}

.conteiner {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.headcont {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;

}

.link {
    text-decoration: none;
}

/**
  |============================
  | Header
  |============================
*/

.header {
    background-color: var(--colorbackgraundblack);
    padding-top: 32px;


}

.header-tel {
    font-size: var(--textsize12);
    letter-spacing: 0.09em;
    color: var(--colorbackground);
}

.logo {
    margin-right: 70px;
}

.header-nav {
    font-size: var(--textsize12);
    letter-spacing: 0.1em;
    color: var(--colorbackground);
    margin-right: auto;
}

.header-ul {
    display: flex;
    align-items: center;
    gap: var(--gapnav30);
}

.headbutt {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-li {}

.header-a {
    font-style: normal;
    font-weight: 600;
    font-size: var(--textsize12);
    line-height: 16px;
    letter-spacing: 0.1em;
    color: var(--colorbackground);
}

.header-a:focus,
.header-a:hover {
    color: var(--uniqbutton);
}

.head-batton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    min-height: 40px;

    font-size: var(--textsize12);
    letter-spacing: 0.09em;
    color: var(--colorbackground);
    border: 1px solid var(--uniqbutton);
    border-radius: 25px;
    background-color: var(--backgroundcolorbatton);
}

.batton-in-price {
    margin-left: auto;
    margin-right: auto;
}

.head-batton:hover,
.head-batton:focus {
    background-color: var(--uniqbutton);
}

.head-batton.main {
    color: var(--colorbackgraundblack);
}

.head-batton.main:hover,
.head-batton.main:fokus {
    background-color: var(--uniqbutton);
}

/**
  |============================
  | sec-heir-salon
  |============================
*/
.sec-heir-salon {
    background-color: var(--colorbackgraundblack);
    padding-bottom: 206px;
    padding-top: 191px;
    margin-bottom: 130px;

}

.ul-heir-salon {}

.li-heir-salon {
    font-size: var(--textsize11);
    letter-spacing: 0.2em;
    color: var(--colortextmin);
}

.heir-salon-a {
    color: var(--spessialtext);
}

.heir-salon-a:hover,
.heir-salon-a:focus {
    color: var(--uniqbutton);
}

.heir-pargraph {

    margin-bottom: var(--margin20);

    font-size: var(--textsize11);
    text-transform: uppercase;
    color: var(--spessialtext);
}

.parag-befor-black {
    display: flex;
    align-items: center;
    gap: 20px;
}

.parag-befor {
    display: flex;
    align-items: center;
    gap: 20px;
}

.parag-befor::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--textcolorstand);
}

.parag-befor-black::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--spessialtext);
}


.cont-marg {
    margin-left: 205px;
}

.heir-title {
    margin-bottom: var(--margin20);

    font-family: 'Raleway';
    font-size: var(--textsize72);
    letter-spacing: 0.05em;
    color: var(--colorbackground);
}

.heir-pargraph-fust {
    max-width: 450px;

    font-size: var(--textsize18);
    letter-spacing: 0.02em;
    color: var(--colortextblackbackgr);
}

/**
  |============================
  | about
  |============================
*/
.about {}

.about-cont {
    display: flex;
    gap: var(--gapnav30);
    padding-bottom: 130px;
}

.ul-about {
    display: flex;
    gap: var(--gapnav30);
}

.li-about {}

.about-paragraph {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--colortextmin);
}

.about-title {
    margin-bottom: var(--margin20);
    max-width: 800px;


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.05em;
    font-size: var(--textsize42);
    color: var(--colortextmin);
}

.about-paragraphbig {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    font-size: var(--textsize18);
    letter-spacing: 0.02em;
}

.about-paragra {
    margin-bottom: 42px;
    max-width: 500px;
    margin-left: 0;

    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.02em;
    font-size: var(--textsize14);

}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    min-height: 40px;

    font-size: var(--textsize12);
    letter-spacing: 0.09em;
    color: var(--colorbackground);
    border: 1px solid var(--uniqbutton);
    border-radius: 25px;
    background-color: var(--backgroundcolorbatton);
}

/**
  |============================
  | price
  |============================
*/
.price {
    padding-top: var(--padding130);
    padding-bottom: var(--padding130);

    max-width: 1280px;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../background/img\ \(1\).jpg), var(--colorbackgraundblack);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.price-cont {}


.price-paragraph {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--spessialtext);
}

.price-title {
    margin-bottom: 42px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.05em;
    font-size: var(--textsize42);
    letter-spacing: 0.05em;
    color: var(--colorbackground);
}

.price-ul {
    margin-bottom: 50px;


    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    font-size: var(--textsize18);
    letter-spacing: 0.02em;
    color: var(--colortextblackbackgr);
}

.price-contein-peis {
    display: flex;
}

.price-for-category-ul {
    width: 580px;
    padding: 40px 30px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}

.price-list:last-child {
    margin-bottom: 0;
}

.price-list::before {
    content: '';
    flex-grow: 1;

    height: 1px;
    background: rgba(157, 164, 189, 0.12);
}

.price-before {
    order: -2;
}

/**
  |============================
  | advantages conteiner
  |============================
*/
.advantages {
    padding-top: 130px;
    padding-bottom: 130px;
}

.advantages-all-block {
    display: flex;
}

.advantages-ul {
    max-width: 370px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.advantages-ul-li {
    width: 170px;
    background-color: var(--colorbackgroundtwo);
    padding: 24px 20px;
    box-shadow: 4px 5px var(--uniqbutton)
}

.advantages-ul-li:nth-child(2n) {
    margin-top: 30px;
    margin-left: 30px;
}


.advantages-paragraph-cl {

    font-weight: 700;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: var(--textsize42);
    color: var(--colortextmin);
}

sup {
    color: var(--uniqbutton);
}

.advantages-paragraph-prem {

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    font-size: var(--textsize11);
    color: var(--colortextmin);
}



.advantages-paragraph {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--colortextmin);
}

.advantages-title {
    max-width: 420px;
    margin-left: 0;
    margin-bottom: var(--margin20);

    font-family: 'Raleway';
    font-weight: 700;
    line-height: 49px;
    font-size: var(--textsize42);
    letter-spacing: 0.05em;
    color: var(--colortextmin);
}

.advantages-paragraph-text {
    max-width: 500px;

    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
}

/**
  |============================
  | personnel
  |============================
*/
.personnel {
    background-color: var(--colorbackgroundtwo);
}

.personnel-cont {
    padding-top: var(--padding130);
    padding-bottom: var(--padding130);
}

.personnel-paragraph {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--colortextmin);
}

.personnel-title {
    margin-bottom: var(--margin20);

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    font-size: var(--textsize42);
    letter-spacing: 0.05em;
    color: var(--colortextmin);
}

.personnel-name {
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
}

.personnel-profession {
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    font-size: var(--textsize14);
    letter-spacing: 0.02em;
    color: var(--uniqbutton);
}


.personnel-ul {
    display: flex;
    gap: var(--gapnav30);

}

.personnel-ul-li {
    width: calc((100% - ((var(--gapnav30))*2)) / 3);
}

.personnel-ul-li>img {
    margin-bottom: var(--gapnav30);
}

.personel-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-icon-10);

}

.personel-social-list {}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background-color: var(--colorbackground);
    border-radius: 50%;
}

.social-list:hover,
.social-list:focus {
    fill: var(--uniqbutton);
    background-color: var(--colorbackgraundblack);
}

.personel-icon {}

/**
  |============================
  | galery
  |============================
*/

.galery {
    padding-top: var(--padding130);
    padding-bottom: var(--padding130);
}

.galery-cont {}

.galery-paragraph {
    margin-bottom: 44px;

    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--colortextmin);
}

.galery-title {}

.galery-ul {
    display: flex;
    gap: var(--gapnav30);
}

.galery-li {
    width: calc((100% - ((var(--gapnav30))*3)) / 4);
}

/**
  |============================
  | contact
  |============================
*/
.contact {
    background-color: var(--colorbackgraundblack);
}

.contact-all {
    display: flex;

}

.contacts-registr {
    width: calc(100%/2);
}

.contact-conteiner {
    width: calc(100%/2);
    padding-left: 100px;
    padding-top: var(--padding130);
    padding-bottom: var(--padding130);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../background/Bg.jpg);
    background-size: cover;
}

.contact-title {
    margin-bottom: 42px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.05em;
    font-size: var(--textsize42);
    color: var(--colorbackground);
}

.contact-adress {}

.contact-ul {
    margin-bottom: 66px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.contact-li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
}

.contact-a {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: var(--colortextblackbackgr);

}

.contact-paragraph {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
}

.contact-paragraph-working {
    margin-bottom: var(--margin20);

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: var(--textsize11);
    color: var(--spessialtext);
}

/**
  |============================
  | footer
  |============================
*/
.footer-cont {
    display: flex;
    margin-right: auto;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 55px;
}

.footer-copir {
    margin: 0;

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    font-size: var(--textsize11);
    letter-spacing: 0.2em;
    color: var(--colortextblackbackgr);
}

.footer-ul {
    display: flex;
    gap: 40px;
    margin-right: 0;
    margin-left: auto;

    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    font-size: var(--textsize11);
    letter-spacing: 0.2em;
    color: var(--colortextmin);
}

.footer-a {
    color: var(--colortextmin);
}

.footer-a:focus,
.footer-a:hover {
    color: var(--uniqbutton)
}